@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Raleway:wght@100;300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
button {
  border-radius: 100px !important;
  color: black !important;
  font-size: 20px !important;
  height: 40px !important;
  font-weight: 300 !important;
}

input,
textarea,
select {
  width: 100%;
  border-radius: 50px;
  height: 40px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 3px rgb(169, 167, 167);
  outline: none;
  padding-left: 15px;
}
select {
}

::placeholder {
  color: black;
}
